@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228.6 84% 4.9%;
    --foreground: 214.3 31.8% 91.4%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 214.3 31.8% 91.4%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 214.3 31.8% 91.4%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 228.6 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 214.3 31.8% 91.4%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 214.3 31.8% 91.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 228.6 84% 4.9%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 198.6 88.7% 48.4%;
    --chart-1: 158.1 64.4% 51.6%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 238.7 83.5% 66.7%;
    --chart-4: 258.3 89.5% 66.3%;
    --chart-5: 0 84.2% 60.2%;
    --chart-6: 37.7 92.1% 50.2%;
    --chart-7: 198.6 88.7% 48.4%;
    --chart-8: 270.7 91% 65.1%;
    --chart-9: 24.6 95% 53.1%;
    --chart-10: 292.2 84.1% 60.6%;
    --chart-11: 215.4 16.3% 46.9%;
    --chart-12: 215 20.2% 65.1%;
    --chart-13: 160.1 84.1% 39.4%;
    --chart-14: 349.7 89.2% 60.2%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228.6 84% 4.9%;
    --foreground: 214.3 31.8% 91.4%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 214.3 31.8% 91.4%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 214.3 31.8% 91.4%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 228.6 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 214.3 31.8% 91.4%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 214.3 31.8% 91.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 228.6 84% 4.9%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 198.6 88.7% 48.4%;
    --chart-1: 158.1 64.4% 51.6%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 238.7 83.5% 66.7%;
    --chart-4: 258.3 89.5% 66.3%;
    --chart-5: 0 84.2% 60.2%;
    --chart-6: 37.7 92.1% 50.2%;
    --chart-7: 198.6 88.7% 48.4%;
    --chart-8: 270.7 91% 65.1%;
    --chart-9: 24.6 95% 53.1%;
    --chart-10: 292.2 84.1% 60.6%;
    --chart-11: 215.4 16.3% 46.9%;
    --chart-12: 215 20.2% 65.1%;
    --chart-13: 160.1 84.1% 39.4%;
    --chart-14: 349.7 89.2% 60.2%;
  }

  * {
    @apply border-border;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    @apply bg-background text-foreground antialiased;
  }
}
